<ion-header color="primary">
  <div>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-row style="text-align: center;"> 
        <ion-col style="text-align: center;">
           <img src="./assets/icon/vacuna_icono.png" style="width: 100px; height: 100px;">
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content style="top: 20px; text-align: center;" padding>

       <div id="mapa" style="position: absolute; width: 100%; height: 100%;"></div>
       
        <div id="map" style="position: absolute; width: 100%; height: 100%;"> </div>
    



</ion-content>